/* 1 */

position: relative;
width: 1920px;
height: 3809px;

background: #FFFFFF;


/* Man_HOME_3-01 1 */

position: absolute;
width: 1920px;
height: 920.16px;
left: 0px;
top: 0px;

background: url(Man_HOME_3-01.png);


/* Rectangle 6 */

position: absolute;
width: 1920px;
height: 73px;
left: 0px;
top: 0px;

background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09);


/* Rectangle 9 */

position: absolute;
width: 162px;
height: 41px;
left: 1612px;
top: 16px;

background: #E5FFA6;
border: 1px dashed #000000;
box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.39);
border-radius: 16px;


/* Logo-02 1 */

position: absolute;
width: 150px;
height: 50px;
left: 163px;
top: 11px;

background: url(Logo-02.png);


/* Home */

position: absolute;
width: 69px;
height: 27px;
left: 1036px;
top: 23px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 27px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* For Enterprise */

position: absolute;
width: 156px;
height: 27px;
left: 1186px;
top: 23px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 27px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Partner Us */

position: absolute;
width: 118px;
height: 27px;
left: 1423px;
top: 23px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 27px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* BOOK NOW */

position: absolute;
width: 162px;
height: 41px;
left: 1612px;
top: 16px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

color: #373737;



/* Group 12 */

position: absolute;
width: 259.51px;
height: 181.74px;
left: 1226px;
top: 699px;



/* Group 7 */

position: absolute;
width: 166.58px;
height: 108.72px;
left: 1226px;
top: 753.34px;



/* Vector */

position: absolute;
width: 166.58px;
height: 108.58px;
left: 1226px;
top: 753.39px;

background: linear-gradient(180deg, #FFE2B8 -0.88%, #FFA726 91.27%);


/* Vector */

position: absolute;
width: 26.44px;
height: 13.5px;
left: 1250.07px;
top: 804.57px;

background: #593E37;


/* Vector */

position: absolute;
width: 15.4px;
height: 14.4px;
left: 1256.65px;
top: 792.14px;

background: #A17F69;


/* Vector */

position: absolute;
width: 14.39px;
height: 16.27px;
left: 1256.65px;
top: 834.14px;

background: #A17F69;


/* Vector */

position: absolute;
width: 166.58px;
height: 53.09px;
left: 1226px;
top: 753.39px;

background: #FFE082;


/* Vector */

position: absolute;
width: 104.85px;
height: 34.22px;
left: 1256.78px;
top: 762.78px;

background: #C99470;


/* Vector */

position: absolute;
width: 90.75px;
height: 84.31px;
left: 1301.83px;
top: 777.75px;

background: linear-gradient(180deg, #FFAF39 27.8%, #DE8400 86.9%);


/* Vector */

position: absolute;
width: 166.58px;
height: 108.67px;
left: 1226px;
top: 753.34px;

background: #444444;
opacity: 0.2;


/* Group 8 */

position: absolute;
width: 166.58px;
height: 108.72px;
left: 1235.64px;
top: 699px;



/* Vector */

position: absolute;
width: 166.58px;
height: 108.58px;
left: 1235.64px;
top: 699.05px;

background: linear-gradient(180deg, #FFE2B8 -0.88%, #FFA726 91.27%);


/* Vector */

position: absolute;
width: 26.44px;
height: 13.5px;
left: 1259.71px;
top: 750.23px;

background: #593E37;


/* Vector */

position: absolute;
width: 15.4px;
height: 14.4px;
left: 1266.29px;
top: 737.8px;

background: #A17F69;


/* Vector */

position: absolute;
width: 14.39px;
height: 16.27px;
left: 1266.29px;
top: 779.79px;

background: #A17F69;


/* Vector */

position: absolute;
width: 166.58px;
height: 53.09px;
left: 1235.64px;
top: 699.05px;

background: #FFE082;


/* Vector */

position: absolute;
width: 104.85px;
height: 34.22px;
left: 1266.42px;
top: 708.43px;

background: #C99470;


/* Vector */

position: absolute;
width: 90.75px;
height: 84.31px;
left: 1311.47px;
top: 723.41px;

background: linear-gradient(180deg, #FFAF39 27.8%, #DE8400 86.9%);


/* Vector */

position: absolute;
width: 166.58px;
height: 108.67px;
left: 1235.64px;
top: 699px;

background: #444444;
opacity: 0.2;


/* Group 9 */

position: absolute;
width: 166.58px;
height: 108.72px;
left: 1318.92px;
top: 772.02px;



/* Vector */

position: absolute;
width: 166.58px;
height: 108.58px;
left: 1318.92px;
top: 772.07px;

background: linear-gradient(180deg, #FFE2B8 -0.88%, #FFA726 91.27%);


/* Vector */

position: absolute;
width: 26.44px;
height: 13.5px;
left: 1343px;
top: 823.25px;

background: #593E37;


/* Vector */

position: absolute;
width: 15.4px;
height: 14.4px;
left: 1349.57px;
top: 810.82px;

background: #A17F69;


/* Vector */

position: absolute;
width: 14.39px;
height: 16.27px;
left: 1349.57px;
top: 852.82px;

background: #A17F69;


/* Vector */

position: absolute;
width: 166.58px;
height: 53.09px;
left: 1318.92px;
top: 772.07px;

background: #FFE082;


/* Vector */

position: absolute;
width: 104.85px;
height: 34.22px;
left: 1349.71px;
top: 781.46px;

background: #C99470;


/* Vector */

position: absolute;
width: 90.75px;
height: 84.31px;
left: 1394.75px;
top: 796.43px;

background: linear-gradient(180deg, #FFAF39 27.8%, #DE8400 86.9%);


/* Vector */

position: absolute;
width: 166.58px;
height: 108.67px;
left: 1318.92px;
top: 772.02px;

background: #444444;
opacity: 0.2;


/* Group 10 */

position: absolute;
width: 87.65px;
height: 57.2px;
left: 1334.7px;
top: 756.74px;



/* Vector */

position: absolute;
width: 87.65px;
height: 57.13px;
left: 1334.7px;
top: 756.77px;

background: linear-gradient(180deg, #FFE2B8 -0.88%, #FFA726 91.27%);


/* Vector */

position: absolute;
width: 13.91px;
height: 7.1px;
left: 1347.37px;
top: 783.69px;

background: #593E37;


/* Vector */

position: absolute;
width: 8.1px;
height: 7.58px;
left: 1350.83px;
top: 777.15px;

background: #A17F69;


/* Vector */

position: absolute;
width: 7.57px;
height: 8.56px;
left: 1350.83px;
top: 799.25px;

background: #A17F69;


/* Vector */

position: absolute;
width: 87.65px;
height: 27.93px;
left: 1334.7px;
top: 756.77px;

background: #FFE082;


/* Vector */

position: absolute;
width: 55.17px;
height: 18.01px;
left: 1350.9px;
top: 761.7px;

background: #C99470;


/* Vector */

position: absolute;
width: 47.75px;
height: 44.36px;
left: 1374.6px;
top: 769.58px;

background: linear-gradient(180deg, #FFAF39 27.8%, #DE8400 86.9%);


/* Vector */

position: absolute;
width: 87.65px;
height: 57.18px;
left: 1334.7px;
top: 756.74px;

background: #444444;
opacity: 0.2;


/* Group 11 */

position: absolute;
width: 296.45px;
height: 256.96px;
left: 1273px;
top: 643px;



/* Group 7 */

position: absolute;
width: 179.45px;
height: 126.65px;
left: 1364px;
top: 773.31px;



/* Vector */

position: absolute;
width: 179.45px;
height: 126.48px;
left: 1364px;
top: 773.36px;

background: linear-gradient(180deg, #FFE2B8 -0.88%, #FFA726 91.27%);


/* Vector */

position: absolute;
width: 28.48px;
height: 15.73px;
left: 1389.93px;
top: 832.98px;

background: #593E37;


/* Vector */

position: absolute;
width: 16.59px;
height: 16.78px;
left: 1397.02px;
top: 818.51px;

background: #A17F69;


/* Vector */

position: absolute;
width: 15.5px;
height: 18.95px;
left: 1397.02px;
top: 867.43px;

background: #A17F69;


/* Vector */

position: absolute;
width: 179.45px;
height: 61.85px;
left: 1364px;
top: 773.36px;

background: #FFE082;


/* Vector */

position: absolute;
width: 112.96px;
height: 39.87px;
left: 1397.16px;
top: 784.29px;

background: #C99470;


/* Vector */

position: absolute;
width: 97.76px;
height: 98.22px;
left: 1445.69px;
top: 801.74px;

background: linear-gradient(180deg, #FFAF39 27.8%, #DE8400 86.9%);


/* Vector */

position: absolute;
width: 179.45px;
height: 126.59px;
left: 1364px;
top: 773.31px;

background: #444444;
opacity: 0.2;


/* Group 8 */

position: absolute;
width: 179.45px;
height: 126.65px;
left: 1374.39px;
top: 710px;



/* Vector */

position: absolute;
width: 179.45px;
height: 126.48px;
left: 1374.39px;
top: 710.06px;

background: linear-gradient(180deg, #FFE2B8 -0.88%, #FFA726 91.27%);


/* Vector */

position: absolute;
width: 28.48px;
height: 15.73px;
left: 1400.32px;
top: 769.67px;

background: #593E37;


/* Vector */

position: absolute;
width: 16.59px;
height: 16.78px;
left: 1407.4px;
top: 755.2px;

background: #A17F69;


/* Vector */

position: absolute;
width: 15.5px;
height: 18.95px;
left: 1407.4px;
top: 804.12px;

background: #A17F69;


/* Vector */

position: absolute;
width: 179.45px;
height: 61.85px;
left: 1374.39px;
top: 710.06px;

background: #FFE082;


/* Vector */

position: absolute;
width: 112.96px;
height: 39.87px;
left: 1407.55px;
top: 720.99px;

background: #C99470;


/* Vector */

position: absolute;
width: 97.76px;
height: 98.22px;
left: 1456.08px;
top: 738.43px;

background: linear-gradient(180deg, #FFAF39 27.8%, #DE8400 86.9%);


/* Vector */

position: absolute;
width: 179.45px;
height: 126.59px;
left: 1374.39px;
top: 710px;

background: #444444;
opacity: 0.2;


/* Group 9 */

position: absolute;
width: 179.45px;
height: 126.65px;
left: 1390px;
top: 643px;



/* Vector */

position: absolute;
width: 179.45px;
height: 126.48px;
left: 1390px;
top: 643.06px;

background: linear-gradient(180deg, #FFE2B8 -0.88%, #FFA726 91.27%);


/* Vector */

position: absolute;
width: 28.48px;
height: 15.73px;
left: 1415.93px;
top: 702.67px;

background: #593E37;


/* Vector */

position: absolute;
width: 16.59px;
height: 16.78px;
left: 1423.02px;
top: 688.2px;

background: #A17F69;


/* Vector */

position: absolute;
width: 15.5px;
height: 18.95px;
left: 1423.02px;
top: 737.12px;

background: #A17F69;


/* Vector */

position: absolute;
width: 179.45px;
height: 61.85px;
left: 1390px;
top: 643.06px;

background: #FFE082;


/* Vector */

position: absolute;
width: 112.96px;
height: 39.87px;
left: 1423.16px;
top: 653.99px;

background: #C99470;


/* Vector */

position: absolute;
width: 97.76px;
height: 98.22px;
left: 1471.69px;
top: 671.43px;

background: linear-gradient(180deg, #FFAF39 27.8%, #DE8400 86.9%);


/* Vector */

position: absolute;
width: 179.45px;
height: 126.59px;
left: 1390px;
top: 643px;

background: #444444;
opacity: 0.2;


/* Group 10 */

position: absolute;
width: 94.42px;
height: 66.64px;
left: 1273px;
top: 668px;



/* Vector */

position: absolute;
width: 94.42px;
height: 66.55px;
left: 1273px;
top: 668.03px;

background: linear-gradient(180deg, #FFE2B8 -0.88%, #FFA726 91.27%);


/* Vector */

position: absolute;
width: 14.99px;
height: 8.27px;
left: 1286.64px;
top: 699.4px;

background: #593E37;


/* Vector */

position: absolute;
width: 8.73px;
height: 8.83px;
left: 1290.37px;
top: 691.78px;

background: #A17F69;


/* Vector */

position: absolute;
width: 8.15px;
height: 9.97px;
left: 1290.37px;
top: 717.52px;

background: #A17F69;


/* Vector */

position: absolute;
width: 94.42px;
height: 32.54px;
left: 1273px;
top: 668.03px;

background: #FFE082;


/* Vector */

position: absolute;
width: 59.43px;
height: 20.98px;
left: 1290.45px;
top: 673.78px;

background: #C99470;


/* Vector */

position: absolute;
width: 51.44px;
height: 51.68px;
left: 1315.98px;
top: 682.96px;

background: linear-gradient(180deg, #FFAF39 27.8%, #DE8400 86.9%);


/* Vector */

position: absolute;
width: 94.42px;
height: 66.61px;
left: 1273px;
top: 668px;

background: #444444;
opacity: 0.2;


/* Group 20 */

position: absolute;
visibility: hidden;
width: 576px;
height: 309px;
left: 137px;
top: 284px;



/* Vector 1 */

position: absolute;
width: 43px;
height: 61px;
left: 176px;
top: 453px;

border: 5px dashed rgba(0, 0, 0, 0.25);


/* Vector 6 */

position: absolute;
width: 77px;
height: 152px;
left: 137px;
top: 286px;

border: 5px dashed rgba(0, 0, 0, 0.25);


/* Vector 3 */

position: absolute;
width: 78px;
height: 0px;
left: 713px;
top: 448px;

border: 5px dashed rgba(0, 0, 0, 0.25);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector 7 */

position: absolute;
width: 78px;
height: 0px;
left: 713px;
top: 284px;

border: 5px dashed rgba(0, 0, 0, 0.25);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector 4 */

position: absolute;
width: 78px;
height: 0px;
left: 713px;
top: 517px;

border: 5px dashed rgba(0, 0, 0, 0.25);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector 5 */

position: absolute;
width: 78px;
height: 0px;
left: 713px;
top: 593px;

border: 5px dashed rgba(0, 0, 0, 0.25);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector 2 */

position: absolute;
width: 75px;
height: 97px;
left: 137px;
top: 484px;

border: 5px dashed rgba(0, 0, 0, 0.25);


/* Rectangle 10 */

position: absolute;
width: 515px;
height: 461px;
left: 176px;
top: 276px;

background: #7CDE45;
box-shadow: inset 0px -8px 16px rgba(110, 198, 54, 0.33);
border-radius: 10px;


/* Rectangle 32 */

position: absolute;
width: 515px;
height: 80px;
left: 176px;
top: 657px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 12px rgba(0, 0, 0, 0.25), inset 0px -6px 2px rgba(0, 0, 0, 0.22);
border-radius: 10px;


/* Rectangle 31 */

position: absolute;
width: 515px;
height: 50px;
left: 176px;
top: 276px;

background: #FFFFFF;
box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.37);
border-radius: 10px;


/* Rectangle 12 */

position: absolute;
width: 131px;
height: 26px;
left: 189px;
top: 286px;

background: #8DEF56;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;


/* Group 3 */

position: absolute;
width: 115px;
height: 0px;
left: 201.04px;
top: 298.78px;



/* TRIP BASED */

position: absolute;
width: 115px;
height: 0px;
left: 201.04px;
top: 298.78px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 0%;
/* identical to box height, or 0px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.085em;

color: #373737;



/* Group 4 */

position: absolute;
width: 137px;
height: 0px;
left: 345.82px;
top: 298.78px;



/* DAILY RENTAL */

position: absolute;
width: 137px;
height: 0px;
left: 345.82px;
top: 298.78px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 0%;
/* identical to box height, or 0px */
display: flex;
align-items: center;
letter-spacing: 0.085em;

color: #000000;



/* Group 5 */

position: absolute;
width: 176.86px;
height: 25.71px;
left: 492px;
top: 286px;



/* Rectangle 14 */

position: absolute;
width: 156.2px;
height: 25.71px;
left: 492px;
top: 286px;

border-radius: 10px;


/* MONTHLY RENTAL */

position: absolute;
width: 173px;
height: 0px;
left: 495.86px;
top: 298.41px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 0%;
/* identical to box height, or 0px */
display: flex;
align-items: center;
letter-spacing: 0.085em;

color: #000000;



/* Your delivery partner */

position: absolute;
width: 195px;
height: 12px;
left: 340px;
top: 350px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 81.5%;
/* or 13px */
display: flex;
align-items: center;

color: #373737;



/* Carbon free point to point delivery */

position: absolute;
width: 308px;
height: 12px;
left: 287px;
top: 374px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 77.5%;
/* or 12px */
display: flex;
align-items: center;

color: #373737;



/* Rectangle 15 */

position: absolute;
width: 479px;
height: 47px;
left: 191px;
top: 441px;

background: #FFFFFF;
border-radius: 15px;


/* Rectangle 16 */

position: absolute;
width: 479px;
height: 49px;
left: 191px;
top: 507px;

background: #FFFFFF;
border-radius: 15px;


/* Rectangle 17 */

position: absolute;
width: 479px;
height: 48px;
left: 191px;
top: 575px;

background: #FFFFFF;
border-radius: 15px;


/* Rectangle 18 */

position: absolute;
width: 77px;
height: 36px;
left: 197px;
top: 446px;

background: #FFFEFE;
box-shadow: inset 4px 0px 9px rgba(0, 0, 0, 0.25);
border-radius: 15px;


/* Rectangle 19 */

position: absolute;
width: 77px;
height: 35px;
left: 197px;
top: 514px;

background: #FFFEFE;
box-shadow: inset 4px 0px 9px rgba(0, 0, 0, 0.25);
border-radius: 15px;


/* Rectangle 20 */

position: absolute;
width: 77px;
height: 34px;
left: 197px;
top: 582px;

background: #FFFEFE;
box-shadow: inset 4px 0px 9px rgba(0, 0, 0, 0.25);
border-radius: 15px;


/* PICKUP */

position: absolute;
width: 77px;
height: 36px;
left: 197px;
top: 446px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.02em;

color: #292929;



/* DROP */

position: absolute;
width: 77px;
height: 35px;
left: 197px;
top: 514px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.02em;

color: #292929;



/* WHEN */

position: absolute;
width: 75px;
height: 34px;
left: 197px;
top: 582px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.02em;

color: #292929;



/* 3 wheeler_3-01-01 1 */

position: absolute;
width: 179px;
height: 128px;
left: 1679px;
top: 209px;

background: url(3 wheeler_3-01-01.png);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 21 */

position: absolute;
width: 179px;
height: 48px;
left: 344px;
top: 670px;

background: #71D33A;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.42);
border-radius: 50px;


/* Book My Auto */

position: absolute;
width: 178px;
height: 48px;
left: 345px;
top: 670px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

color: #373737;



/* Line 3 */

position: absolute;
width: 515px;
height: 0px;
left: 176px;
top: 327px;

border: 1px solid rgba(0, 0, 0, 0.5);


/* Line 4 */

position: absolute;
width: 494px;
height: 0px;
left: 176px;
top: 657px;

border: 1px solid rgba(0, 0, 0, 0.25);


/* Logo-02 2 */

position: absolute;
width: 57px;
height: 17px;
left: 1522px;
top: 245px;

background: url(Logo-02.png);


/* 3 wheeler_3-01-01 2 */

position: absolute;
width: 103px;
height: 74px;
left: 759px;
top: 453px;

background: url(3 wheeler_3-01-01.png);
transform: matrix(0, -1, -1, 0, 0, 0);


/* Looking for Cargo Vehicle without pollution */

position: absolute;
width: 919px;
height: 49px;
left: 500px;
top: 94px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 49px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #5EBF1F;



/* Rectangle 33 */

position: absolute;
width: 1920px;
height: 914px;
left: 0px;
top: 920px;

background: #F7F7F7;


/* Get the electric vehicle for your all Intracity Transportation in just a click. */

position: absolute;
width: 786px;
height: 27px;
left: 567px;
top: 149px;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 27px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* WHY AdoptEV? */

position: absolute;
width: 331px;
height: 58px;
left: 161px;
top: 1021px;

font-family: Barlow;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 58px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.01em;

color: #515151;



/* Aim for customer delight by providing first & last mile logistics solutions with most reliable, trusted & preferred services by understanding their critical requirements & accordingly offering innovative, digital, shared, connected, cost effective, on-time delivery. */

position: absolute;
width: 907px;
height: 112px;
left: 165px;
top: 1107px;

font-family: Barlow;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 168.4%;
/* or 37px */
display: flex;
align-items: center;

color: #0E0E0E;



/* Group 23 */

position: absolute;
width: 1595px;
height: 418px;
left: 163px;
top: 1316px;



/* Rectangle 34 */

position: absolute;
width: 291px;
height: 390px;
left: 163px;
top: 1344px;

background: #FFFFFF;
box-shadow: -6px -6px 24px 12px rgba(253, 253, 253, 0.15), 4px 4px 12px 7px rgba(224, 221, 221, 0.1);


/* Rectangle 35 */

position: absolute;
width: 291px;
height: 390px;
left: 489px;
top: 1344px;

background: #FFFFFF;
box-shadow: -6px -6px 24px 12px rgba(253, 253, 253, 0.15), 4px 4px 12px 7px rgba(224, 221, 221, 0.1);


/* Rectangle 36 */

position: absolute;
width: 291px;
height: 390px;
left: 815px;
top: 1344px;

background: #FFFFFF;
box-shadow: -6px -6px 24px 12px rgba(253, 253, 253, 0.15), 4px 4px 12px 7px rgba(224, 221, 221, 0.1);


/* Rectangle 37 */

position: absolute;
width: 291px;
height: 390px;
left: 1141px;
top: 1344px;

background: #FFFFFF;
box-shadow: -6px -6px 24px 12px rgba(253, 253, 253, 0.15), 4px 4px 12px 7px rgba(224, 221, 221, 0.1);


/* Rectangle 38 */

position: absolute;
width: 291px;
height: 390px;
left: 1467px;
top: 1344px;

background: #FFFFFF;
box-shadow: -6px -6px 24px 12px rgba(253, 253, 253, 0.15), 4px 4px 12px 7px rgba(224, 221, 221, 0.1);


/* Mask Group */

position: absolute;
width: 291px;
height: 183px;
left: 489px;
top: 1340px;



/* Rectangle 41 */

position: absolute;
width: 291px;
height: 183px;
left: 489px;
top: 1340px;

background: #C4C4C4;


/* Why Adopt Ev_1-01 */

position: absolute;
width: 291px;
height: 389.12px;
left: 489px;
top: 1340px;

background: url(Why Adopt Ev_1-01.png);


/* Mask Group */

position: absolute;
width: 329.16px;
height: 207px;
left: 1093.92px;
top: 1316px;



/* Rectangle 43 */

position: absolute;
width: 329.16px;
height: 207px;
left: 1093.92px;
top: 1316px;

background: #C4C4C4;


/* Why Adopt Ev_2-01 */

position: absolute;
width: 369.89px;
height: 494.31px;
left: 1078.08px;
top: 1316px;

background: url(Why Adopt Ev_2-01.png);


/* Mask Group */

position: absolute;
width: 291px;
height: 183px;
left: 805px;
top: 1349px;



/* Rectangle 42 */

position: absolute;
width: 291px;
height: 183px;
left: 805px;
top: 1349px;

background: #C4C4C4;


/* Why Adopt Ev_4-01 1 */

position: absolute;
width: 291px;
height: 389.12px;
left: 805px;
top: 1349px;

background: url(Why Adopt Ev_4-01.png);


/* Mask Group */

position: absolute;
width: 275px;
height: 172.94px;
left: 1433px;
top: 1331.03px;



/* Rectangle 44 */

position: absolute;
width: 275px;
height: 172.94px;
left: 1433px;
top: 1331.03px;

background: #C4C4C4;


/* Why Adopt Ev_5-01 1 */

position: absolute;
width: 244.76px;
height: 326.03px;
left: 1453.79px;
top: 1340.48px;

background: url(Why Adopt Ev_5-01.png);


/* INTRACITY TECH LOGISTICS */

position: absolute;
width: 271px;
height: 26px;
left: 173px;
top: 1549px;

font-family: Barlow;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;
display: flex;
align-items: center;

color: #463C49;



/* FIRST & LAST MILE */

position: absolute;
width: 184px;
height: 26px;
left: 502px;
top: 1549px;

font-family: Barlow;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;
display: flex;
align-items: center;

color: #463C49;



/* MICRO WAREHOUSING */

position: absolute;
width: 213px;
height: 26px;
left: 828px;
top: 1549px;

font-family: Barlow;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;
display: flex;
align-items: center;

color: #463C49;



/* FLEET SIMPLIFIED */

position: absolute;
width: 179px;
height: 26px;
left: 1154px;
top: 1549px;

font-family: Barlow;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;
display: flex;
align-items: center;

color: #463C49;



/* CO-BRANDING */

position: absolute;
width: 140px;
height: 26px;
left: 1480px;
top: 1549px;

font-family: Barlow;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;
display: flex;
align-items: center;

color: #463C49;



/* Mask Group */

position: absolute;
width: 291px;
height: 171px;
left: 165px;
top: 1344px;



/* Rectangle 40 */

position: absolute;
width: 291px;
height: 171px;
left: 165px;
top: 1344px;

background: #C4C4C4;


/* Why Adopt Ev_3-01 */

position: absolute;
width: 291px;
height: 390px;
left: 137px;
top: 1332px;

background: url(Why Adopt Ev_3-01.png);


/* Group 21 */

position: absolute;
visibility: hidden;
width: 1593px;
height: 118px;
left: 163px;
top: 1360px;



/* Line 7 */

position: absolute;
width: 1593px;
height: 0px;
left: 163px;
top: 1360px;

border: 1px solid #000000;


/* Line 8 */

position: absolute;
width: 1593px;
height: 0px;
left: 163px;
top: 1478px;

border: 1px solid #000000;


/* Group 22 */

position: absolute;
width: 1378px;
height: 857px;
left: 252px;
top: 1885px;



/* Factory-01-01-01 */

position: absolute;
width: 351px;
height: 197.56px;
left: 1279px;
top: 1885px;

background: url(Factory-01-01-01.png);


/* Store-01 */

position: absolute;
width: 351px;
height: 197.22px;
left: 1124px;
top: 2527px;

background: url(Store-01.png);


/* Warehouse-01 */

position: absolute;
width: 351px;
height: 196px;
left: 511px;
top: 1885px;

background: url(Warehouse-01.png);


/* Home-01 */

position: absolute;
width: 350px;
height: 197px;
left: 838px;
top: 2163px;

background: url(Home-01.png);


/* jome-01 1 */

position: absolute;
width: 391px;
height: 244px;
left: 252px;
top: 2498px;

background: url(jome-01.png);


/* Vector 9 */

position: absolute;
width: 1302.5px;
height: 651.81px;
left: 314.5px;
top: 2723.81px;

border: 35px dashed #383C3D;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Rectangle 39 */

position: absolute;
width: 1920px;
height: 67px;
left: 0px;
top: 1767px;

background: #F7F7F7;
